*.swp
.ssh
.gem
puppet/
facter/
.x*
.bash_*
puppet*
.cshrc
.gconfd/
.lesshst
.rdebug_hist
.tcshrc
.viminfo
anaconda-ks.cfg
install.log
install.log.syslog
.gitconfig
.htoprc
.profile
.pulse-cookie
.pulse/
.ssh/
.vim/
.viminfo
puppet*
